# Embedded early config for BOOTX64.EFI / BIOS core.img.
# Do not hard-code (hd0,msdos2); search for grub.cfg by file.

search --file --set=root /grub/grub.cfg
set prefix=($root)/grub
configfile $prefix/grub.cfg
